language: ruby
rvm:
- 2.3.2
services:
- postgresql
notifications:
  email:
    recipients:
    - runfogcity@gmail.com
    on_success: always
    on_failure: always
before_script:
- psql -c 'create database travis_ci_test;' -U postgres
script: bundle exec rake test
deploy:
  provider: heroku
  app: fogcityrun
  api_key:
    secure: d381fk+1/AzGb5MuE9R69UOcU3uTqbEk3USz5UBHx0Jok9sgc6ZLdIVyHyDR6fAb7aIDIyuk0+JLbdQRFBRPrQSWTi8le3IEm5EAllniCspLyYiW2HEDrowZuNpvOHucGo3XrgcmeZmn0c29G2fI6m2LboOJoA9+OKKLvUm+5oCd6pGtDENujtza/bpXtdiuIKDplbzc8ynQsPt48rpjcdwhbxZ+WUFvH6/tW6VoZQudxMMLjA6CTOkT1fAch1KMKyi0R3Rw6WUeCHVpAB1nZC1c5ITWFspvZlppOjWgmHC+e13UVYnQVFJySTpaoGZRJ1mC9/H3B4HUdYqOZpQv/6HAP/WW+DYBMDbcEDsD4Cmwtwb7hvbt+flmfmj56UFTgEBxzzAf6dThP7K2+hfv5PL0upgVuVRFu/1uikQQDIo1wAOm9c1oYMACXIr2FE4IbMtoEJjvpfD3uJhk2Rs7UlslpEcmOnLTz9loXAbzHFB/B6EsEvViByCXdhAROxYKV9CF1gM0pVaL/KKo3EKHlqUhZVt59D6qlmbFot50SuZHOOAX1Vj+ViezkGXI3UVFMbFcBEOSIm72FV2g/VW5RMHcmicok8JfzP/Uz9nFCEyR2Pt/s3r45Aj7iwY9dsPA2Zoyh4ULrBnkhBkE/thyrm0jQJP5g/N3cH+susDMnb8=
