<div class="container-fluid">
  <% flash.each do |key, value| %>
	<div class="row">
	<div class="col-md-3">
    <div class="alert alert-<%= key %>"><%= value %></div>
    </div>
    </div>
  <% end %>
</div>