<li class="nav-item">
  <a class="nav-link" <%= link_to 'Home', root_path %></a>
</li>
<li class="nav-item">
  <a class="nav-link" <%= link_to 'Racers', racers_path %></a>
</li>
<li class="nav-item">
  <a class="nav-link" <%= link_to 'Races', races_path %></a>
</li>