<head>
  <title>Welcome</title>
  <%= render "shared/navbar" %>
</head>
<body class="container welcome" style="padding-top: 60px">
<div class="container-fluid">
  <div class="row">
    <div class="text-center">
      <br>
      <br>
      <br>
      <div class="col-md-8 col-md-offset-2 panel panel-default panel-transparent">
        <div class="text-center">
          <h1><b>Nite Moves</b></h1>
          <p>The Summer Sunset Series in Santa Barbara, CA</p>
          <br>
            <% if @next_race %>
              <h4> Next Race: <%= @next_race.date.strftime('%m/%d/%Y') %> - <%= link_to "Register", race_path(@next_race) %> </h4>
            <% end %>
          <br>
        </div>
        <div class="text-left">
          <p><b><i class="fa fa-users"></i>&nbsp; About Nite Moves:</b> A family evening on the Santa Barbara shore of the American Riviera built around a 5K Fun Run.</p>
          <p><b><i class="fa fa-road"></i>&nbsp; Events:</b></p>
            <ul>
              <li>Aquathon consisting of 1k swim + 5k run</li>
              <li>500m swim, 1000m swim, and 2000m swim</li>
              <li>5k run</li>
              <li>Kid’s km (not mile) and Soft Sand Sprint</li>
            </ul>
          <p><b><i class="fa fa-calendar"></i>&nbsp; When:</b> Every Wednesday during summer. Registration opens at 5 p.m. on site.</p>
          <p><b><i class="fa fa-clock-o"></i>&nbsp; Schedule:</b> Ocean swim waves begin at 6:25 p.m., Running events begin at 6:35 p.m., Free Kiddies Sand Sprint at 7:30 p.m.</p>
          <p><b><i class="fa fa-trophy"></i>&nbsp; Perks:</b> Full season registration includes the beautiful and collectible Nite Moves Tee, the shirt loved by SB locals. Tees are also available for purchase at the event for single night registrations.</p>
          <p><b><i class="fa fa-music"></i>&nbsp; Post Race:</b> Live music, food sampling, soft drinks, adult beverages, bib drawing door prizes, and a variety of vendors throughout the summer.</p>
          <p><b><i class="fa fa-info-circle"></i>&nbsp; Tip:</b> Bring lawn chairs or blankets to enjoy the sunset performances, along with your transition gear and set up early.</p>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>
</body>
