<!DOCTYPE html>
<html>
<head>
  <title>Racers</title>
    <%= render "shared/navbar_racers" %>
</head>
<body style="padding-top: 60px">
<div class="container-fluid">
    <table class="table table-hover table-bordered sortable">
      <thead>
      <tr>
        <th>Racer</th>
        <th>Longest Streak</th>
        <th>Results</th>
      </tr>
      </thead>
      <tbody>
      <% @output.each do |result| %>
      <tr>
      <td><%= link_to result[0].first_name + " " + result[0].last_name, racer_path(result[0]) %>
      <td><%= result[1] %></td>
      <td><%= result[2] %></td>
      <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>