<!DOCTYPE html>
<html>
<head>
  <title>Races</title> 
</head>
<body>
<br>
<div class="container-fluid" style="vertical-align: middle;">
	<div class="row">
		<div class="text-center">
			<h1>Info</h1>
	    </div>
	</div>
	<div class="row">
		<h2>
		<p class="text-left"><b>&nbsp; When:</b> The race is every Wednesday @ 6:30pm. Rain or shine. Best to arrive at 6:15pm.</P>
		<p class="text-left"><b>&nbsp; Where:</b> We leave from <a href="http://www.thebluelightsf.com/"><i>The Blue Light</i></a> - <a href="http://maps.apple.com/?q=1979 Union St, San Francisco, CA 94123">1979 Union St, San Francisco, CA 94123.</a></P>
		<p class="text-left"><b>&nbsp; How do I register?</b> Registration is upon arrival. $5.00 cash. We usually don't have change.</P>
		<p class="text-left"><b>&nbsp; What is the course?</b> A hilly 5km(ish) route through the Marina and the Presidio <a href="https://raw.githubusercontent.com/maxmetcalfe/Fog-City-Run/master/website/images/race_map.jpeg">(Map).</a></P>
		<p class="text-left"><b>&nbsp;&nbsp;How many people come?</b> 5-20. You can view the race results <%= link_to 'here', races_path %> and on <a href=http://www.strava.com/segments/7613369>Strava.</a></P>
		<p class="text-left"><b>&nbsp;&nbsp;A locked closet is available for any extra belongings.</b></P>
		</h2>
		<br>
		<br>
    </div>
    <div class="col-md-8 col-md-offset-2" style="text-align: center">
    <%= link_to "Back", root_path, class: "btn btn-warning btn-lg btn-block" %>
    </div>
</div>
</body>
</html>