<!DOCTYPE html>
<html>
<head>
  <title>Races</title>
  <%= render "shared/navbar" %>
</head>
<body style="padding-top: 60px">
<div class="container-fluid">
  <div class="row">
    <%= column_chart Result.group(:race_id).count, min: 0, max: 22, colors: ["grey"] %>
  </div>
</body>
</html>