<head>
  <title>Races</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//fast.eager.io/8zFOq25yxx.js"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="text-center"
      <p><h2>By beginning, completing, or attempting to complete the Fog City Run, you expressly acknowledge and agree that your athletic activities, including but not limited to running, carry certain inherent and significant risks of property damage, bodily injury or death, and that you voluntarily assume all known and unknown risks associated with these activities even if caused in whole or part by the action, inaction or negligence of the organizers of the Fog City Run or by the action, inaction or negligence of others.</h2></p>
      <%= link_to "Back", root_path, :class => "btn btn-default" %>
    </div>
  </div>
</div>
