// Place all the styles related to the Racers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-right {
  margin-right: 20px;
  margin-left: 10px;
  padding: 0px;
  margin-top: 15px;
}

a.countdown {
  min-width: 60px;
}

#timer {
    font-size: 60px;
    background-color: white;
    color: black;
    padding: 10 px;
}

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

.race-note {
  border-radius: 5px;
  display: inline-block;
  background-color: rgb(245, 205, 89);
  padding: 10px 20px;
  margin-bottom: 10px;
  color: rgb(121, 82, 12);
}

td > div.race-note {
  margin-bottom: 0;
  padding: 5px;
}

.race-note a {
  color: rgb(121, 82, 12);
  margin-bottom: 10px;
}

.race-note a:hover {
  text-decoration: none
}
