// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  background: rgb(255,174,0) !important;
}

h1 {
	font-size: 125px;
	color: rgb(255,0,0);
}

.navbar-custom {
  background-color: #ffae00;
  border-color: #ffae00;
}

.btn-lg {
  padding: 40px 70px;
  font-size: 80px;
  line-height: 0.5;
  border-radius: 50px;
  white-space: normal;
  margin-bottom: 40px;
}

.btn-lg-navbar {
  padding: 30px 70px;
  font-size: 43px;
  line-height: 0.2;
  border-radius: 20px;
  white-space: normal;
  margin-bottom: 2px;
  margin-left: 10px;
}

.btn-warning {
  color: #ff0000;
  background-color: #ffae00;
  border-color: #ff0000;
  border: 10px solid;
}

.btn-warning-navbar {
  color: #ff0000;
  background-color: #ffae00;
  border-color: #ff0000;
  border: 4px solid;  
}

.btn-warning:hover {
  color: #ffae00;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-warning-navbar:hover {
  color: #ffae00;
  background-color: #ff0000;
  border-color: #ff0000;
}

.navbar-form {
  height: 180px !important;
  padding: 1px 15px;
  margin-top: 2px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 10px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0), 0 0px 0 rgba(255, 255, 255, 0);
}

.vcenter {
    vertical-align: middle;
}