// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Custom settings for the navbar-right logos.

.navbar-right {
  margin-right: 20px;
  margin-left: 10px;
  padding: 0px;
}

body.welcome {
	padding-top: 10%;
	background: transparent;
	font-size: 16px;
	background-image: url("photo.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}